body{
    background: rgba(102, 0, 255, 0.836);
    font: normal 15pt Arial;
    background-image: url(casa.jpg);
    background-attachment: fixed;

}

header{
    color: white;
    text-align: center;

}

section{
    background-color: #091921;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    height: auto;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.459);
        
}
.n1{
    color: white;
}
#res{
    
    color: rgb(247, 6, 6);
}
.botao{
    align-items: center;
    size: 10px;
}


footer{
    color: white;
    text-align: center;
    font-style: italic;

}